<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="CellsCount" value="6"/>
    <add key="AvailableValuesToStealEnemyPoints" value="2 3"/>
    <add key="CalculationDepth" value="2"/>
    <add key="UseAlphaBetaProcedure" value="false"/>
  </appSettings>
</configuration>